.footer {
  height: 80px;
  background-color: #212529;
  color: #fff;
  padding: 20px;
}

.content {
  min-height: calc(100vh - 190px);
  margin: 30px;
}

.jumbotron {
  width: 80%;
  height: auto;
  padding: 40px 20px;
  background-color: #212529;
  color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 60px;
}

.pagination-text {
  color: #212529;
  font-weight: bold;
}